body {
    font-family: Helvatica, Arial, 'Microsoft JhengHei';
    font-size: 14px;
    line-height: 1.6;
}

.loading {
    margin-bottom: 20px;
}

.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>td,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>thead>tr>th {
    min-width: 100px;
    white-space: normal;
}

select {
    margin: 20px 0;
}

.complete span {
    display: none;
}

.complete span.label-success,
.complete span.label-danger {
    display: block;
}

@media (min-width: 768px) {
    th,
    .time,
    .district {
        white-space: nowrap;
    }

    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>td,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>thead>tr>th {
        min-width: auto;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
